@import "./../../Utils/colors";

.wrapper {
  background-color: $black;
  height: 100%;
  font-size: 20px;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 0.5rem;
}

.titleStyles {
  font-weight: 700;
  margin-left: 0.5rem;
}

.iconStyles {
  color: $light-blue;
}
